<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <title>Sign Up</title>
</head>

<body>
    <header>
        <h2>Sign up to Space Tigers</h2>
        <nav>
            <!-- Link to home page -->
            <a href="{% url 'index' %}">Back to Home</a>
        </nav>
    </header>

    <section>
        <article>
            <h3>Personal Information</h3>
            <p>Please fill out the form below to sign up for an account. All fields are required.
            </p>
        </article>

        <form method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Basic Details</legend>
                <!-- First name -->
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="first_name" value="{{ form.first_name.value }}" required><br><br>
        
                <!-- Middle initial -->
                <label for="mname">Middle Initial (optional):</label><br>
                <input type="text" id="mname" name="middle_initial" value="{{ form.middle_initial.value }}"><br><br>
        
                <!-- Last name -->
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="last_name" value="{{ form.last_name.value }}" required><br><br>
            </fieldset>
        
            <br>
        
            <fieldset>
                <legend>Contact Information</legend>
                <!-- Email -->
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" value="{{ form.email.value }}" required><br><br>
        
                <!-- Phone -->
                <label for="phone">Phone:</label><br>
                <input type="tel" id="phone" name="phone" value="{{ form.phone.value }}" required><br><br>
            </fieldset>
        
            <br>
        
            <fieldset>
                <legend>Profile</legend>
                <!-- Avatar URL -->
                <label for="avatar_url">Avatar URL:</label><br>
                <input type="url" id="avatar_url" name="avatar_url" value="{{ form.avatar_url.value }}"><br><br>
            </fieldset>
        
            <br>
            <!-- Submit form -->
            <input type="submit" value="Submit">
        </form>
        
    </section>

    <footer>
        <p>Welcome to Space Tigers!</p>
    </footer>
</body>

</html>
